<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Contact</title>
        {{!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" type="text/css" />--}}
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.css" />
        <link rel="stylesheet" href="/css/site.css" type="text/css" >
        <script type="text/javascript">
            function filterNames(){
                let filterValue = document.getElementById('filterInput').value.toUpperCase();
                console.log(filterValue);
                let ul = document.getElementById('names');

                let li = ul.querySelectorAll('li.collection-item');

                //console.log(li.length);

                for(let i = 0; i < li.length; i++){
                    let a = li[i].getElementsByTagName('a')[0];

                    if(a.innerHTML.toUpperCase().indexOf(filterValue)>-1){
                        li[i].style.display = '';
                    } else {
                        li[i].style.display = 'none';
                    }
                }
            }

            function init() {
                console.log("This is javascript");
                let filterInput = document.getElementById('filterInput');
                filterInput.addEventListener('keyup', filterNames);
                filterNames();

            }

            window.onload = function() {
                init();
            }
        </script>
    </head>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>myApp</h2>
                    <h6>Powerd by: </h6>
                    <a href="https://www.postgresql.org/">
                        <img src="https://softwareengineeringdaily.com/wp-content/uploads/2016/10/PostgreSQL.png " alt="PostgreSQL" height="100" width="200">
                    </a>
                    <a href="https://nodejs.org/en/">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d9/Node.js_logo.svg/1200px-Node.js_logo.svg.png " alt="PostgreSQL" height="100" width="200">
                    </a>
                </div>
            </div>
        </div>
      </header>
     <nav>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class = "pull-left">
                        <li><a href = "https://fast-forest-51536.herokuapp.com/">Web322_Assignment5</a></li>
                        <li><a href = "/">Fuction 2</a></li>
                    </ul>
                    <ul class = "pull-right">
                        <li><a href = "/">Fuction 3</a></li>
                        <li><a href = "/">Fuction 4</a></li>
                        <li><a href = "/">Fuction 5</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
   <div class="container">
       {{{body}}} {{!-- The handlerbars will inject HERE!!!! --}}
   </div>
        <footer>
            <div class="container">
                <div class = "row">
                    <div class="col-md-12">
                        <h6>&#169;2017&nbsp;-&nbsp;Xiaochen&nbsp;Wang</h6>
                    </div>
                </div>
            </div>
        </footer>
    </body>
</html>